{% extends 'VagabonderWebBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>Going Somewhere?</h1>
        <h2>Add a new trip</h2>
        <form name="new-trip-form">
            <label for="trip-name">Trip name: </label>
            <input type="text" name="trip-name" id="trip-name" />
            <label for="trip-destination">Destination: </label>
            <input type="text" name="trip-destination" id="trip-destination" />
            <label for="trip-start-date">From: </label>
            <input type="date" name="trip-start-date" id="trip-start-date" />
            <label for="trip-start-date">To: </label>
            <input type="date" name="trip-end-date" id="trip-end-date" />
            <label for="trip-description">Spill the beans! Give some dets: </label>
            <input type="text" name="trip-description" id="trip-description" />
        </form>
    </div>
</div>

{% endblock content %}
