{% extends 'VagabonderWebBundle::layout.html.twig' %}

{% block content %}

<div class="row" id="new-trip-wrapper">
    <div class="large-12 columns">
        <h1>Going Somewhere?</h1>
        <h2>Add a new trip</h2>
        <form name="new-trip-form" id="new-trip-form" action="{{ path("vagabonder_web_trip_new") }}" method="post">
            <div>
                <label for="trip-name" class="left">Trip name: </label>
                <input class="left" type="text" name="trip-name" id="trip-name" />
            </div>
            <div>
                <label for="trip-destination" class="left">Destination: </label>
                <input class="left" type="text" name="trip-destination" id="trip-destination" />
                <input type="hidden" name="trip-destination-id" id="trip-destination-id" />
            </div>
            <div>
                <label for="trip-start-date" class="left">From: </label>
                <input class="left" type="date" name="trip-start-date" id="trip-start-date" />
            </div>
            <div>
                <label for="trip-end-date" class="left">To: </label>
                <input class="left" type="date" name="trip-end-date" id="trip-end-date" />
            </div>
            <div>
                <label for="trip-description" class="left">Spill the beans: </label>
                <textarea form="new-trip-form" class="left" type="text" name="trip-description" id="trip-description"></textarea>
            </div>
            <input type="submit" id="trip-submit" class="left" name="trip-submit" />
        </form>
    </div>
</div>

{% endblock content %}
