{% extends 'VagabonderWebBundle::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="large-12 columns content">
        <h1>{{ name }}</h1>
    </div>
</div>

{% endblock content %}