{% extends "VagabonderWebBundle::layout.html.twig" %}

{% block title %}Vagabonder - Sign up{% endblock title %}

{% block topnav %}

<header class="fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Vagabonder</a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul id="login-top-bar" class="right">
              <li><a href="#">Already have an account?</a></li>
              <li class="divider hide-for-small"></li>
              <li id="signup"><a href="/signup">Log In</a></li>
            </ul>
        </section>
    </nav>
</header>

{% endblock topnav %}


{% block content %}

{% block fos_user_content %}

<div class="row">
    <div class="large-12 columns">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'Submit'|trans }}" />
            </div>
        </form>
    </div>
</div>

{% endblock fos_user_content %}

{% endblock content %}