{% block topnav %}

<header class="fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Vagabonder</a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul id="login-top-bar" class="right">
              <li><a href="{{ path('fos_user_security_login') }}" id="login">Log In</a></li>
              <li class="divider hide-for-small"></li>
              <li id="register"><a href="/register">Register</a></li>
            </ul>
        </section>
    </nav>
</header>

{% endblock topnav %}
