{% extends 'VagabonderWebBundle::layout.html.twig' %}

{% block topnav %}

<header class="fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Vagabonder</a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
              <li class="divider hide-for-small"></li>
              <li class="has-dropdown"><a href="#profile">Me</a>
                <ul class="dropdown">
                  <li class="divider"></li>
                  <li><a href="#profile">My profile</a></li>
                  <li class="divider"></li>
                  <li><a href="#">My settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#">My bonds</a></li>
                  <li class="divider"></li>
                  <li><a href="#">My reviews</a></li>
                </ul>
              </li>
              <li class="divider hide-for-small"></li>
              <li class="has-dropdown"><a href="#">Survey</a>
                <ul class="dropdown">
                  <li class="divider"></li>
                  <li><a href="#">Personality</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Trips</a></li>
                  <li class="divider"></li>
                </ul>
              </li>
              <li class="divider hide-for-small"></li>
              <li class="has-dropdown"><a href="#">Connect</a>
                <ul class="dropdown">
                    <li class="divider"></li>
                    <li><a href="#">With a local</a><li>
                    <li class="divider"></li>
                    <li><a href="#find-traveler">With a traveler</a></li>
                    <li class="divider"></li>
                    <li><a href="#">With both</a></li>
                </ul>
              </li>
              <li class="divider hide-for-small"></li>
              <li class="has-dropdown"><a href="#">Comment</a>
                <ul class="dropdown">
                    <li class="divider"></li>
                    <li><a href="#">On a vagabonder</a><li>
                    <li class="divider"></li>
                    <li><a href="#">On a place</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-form">
                <form class="search">
                  <div class="row collapse">
                    <div class="small-8 columns">
                      <input type="text">
                    </div>
                    <div class="small-4 columns">
                      <a href="#" class="button">
                        <img src="../../../../../../web/bundles/vagabonderweb/images/binocular.png" />
                      </a>
                    </div>
                  </div>
                </form>
              </li>
              <li class="divider show-for-small"></li>
            </ul>
        </section>
    </nav>
</header>

{% endblock topnav %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <ul id="welcome-grid" class="welcome-grid clearfix">
      <li>
        <h3>Welcome</h3>
      </li>
   
      <li>
          <h3>to</h3>
      </li>
   
      <li>
        <h3>Vagabonder!</h3>
      </li>

      <li class="grid-span-3">
        <h3>COLLECT</h3>
        <p class="hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum tellus quis porttitor. Pellentesque in interdum nibh. Quisque placerat laoreet aliquet. Donec pellentesque molestie pellentesque. Maecenas hendrerit odio quis erat ullamcorper, eu consequat elit malesuada.</p>
      </li>

      <li class="grid-span-2">
        <h3>CONNECT</h3>
        <p class="hide">Fusce lorem eros, pellentesque ac convallis vel, gravida eget arcu. Nulla magna metus, condimentum quis fermentum sit amet, porta eget odio. Proin facilisis ipsum ac metus adipiscing aliquam. Curabitur eleifend nibh eros.</p>
      </li>

      <li class="grid-span-2">
        <h3>COORDINATE</h3>
        <p class="hide">Vivamus volutpat nunc eu sem rhoncus, accumsan malesuada nunc bibendum. Aliquam fringilla facilisis purus, sed bibendum eros porttitor non. Nullam vitae tristique quam.</p>
      </li>

      <li class="grid-span-3">
        <h3>COMMENT</h3>
        <p class="hide">Quisque adipiscing, elit vel aliquet molestie, justo orci ornare elit, sit amet ullamcorper tortor tellus varius augue. Vestibulum nec ante ac nisi vestibulum sollicitudin eu ac tortor. Nulla erat mi, pharetra a metus vitae, cursus elementum felis. Vestibulum malesuada mauris at ante interdum condimentum.</p>
      </li>

      <li class="grid-span-4">
        <h3>COMMUNITY</h3>
        <p class="hide">Suspendisse elementum, tortor ut rhoncus egestas, lectus eros blandit leo, nec tincidunt felis magna a augue. Morbi mollis mattis rutrum. Vivamus vel blandit ipsum, eu fermentum elit. Maecenas urna ante, hendrerit sed lorem quis, pharetra mollis diam. In est lacus, tempor non urna id, pharetra euismod turpis. Morbi vel elementum leo, imperdiet cursus diam.</p>
        </div>
      </li>


    </ul>      
  </div>
</div>


{% endblock content %}