/* Top Nav Styling
---------------------------------------------------------*/

body, header section ul li a {
	font-family: "Caviar Dreams";
}

header nav ul li h1 a {
	font-family: "Coneria Script Demo";
}

.top-bar, .top-bar-section ul li.has-dropdown a, .top-bar-section ul li.has-form {
	background-color: #87E8D9;
}

.top-bar-section ul li.has-dropdown:hover > a, .top-bar-section ul li.has-dropdown ul.dropdown li:hover > a {
	background-color: #74C7BA;
}

.top-bar-section ul li.divider {
	border: solid #fff 1px;
}

a.button img {
	widht: 75%;
	height: 75%;
}

.top-bar form input, .top-bar form .button {
	margin-top: -2px;
}

/* Welcome Grid Styling
------------------------------------------------------------*/

.welcome-grid {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5em;
}

.welcome-grid li {
    width: 24%;
    height: 13em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 1.6em;
    cursor: pointer;
    position: relative;
    transition: width 0s;
}

.welcome-grid li.grid-span-2 {
    width: 42%;
}
 
.welcome-grid li.grid-span-3 {
	width: 56%;
}

.welcome-grid li.grid-span-4 {
    width: 99%;
}

.welcome-grid li:nth-child(2) {
	width: 15%;
}

.welcome-grid li:nth-child(3) {
	width: 58%;
}

/* Description Styling
-------------------------------------------------------------*/

.welcome-grid li p {
	text-align: left;
	margin-left: 1.8em;
	margin-top: -1em;
}

.welcome-grid li h3 {
	color: #fff;
	font-family: "Caviar Dreams";
    font-size: 2.6em;
    font-weight: 100;
}

.welcome-grid li:nth-child(1) h3, .welcome-grid li:nth-child(2) h3, .welcome-grid li:nth-child(3) h3 {
	font-family: "Coneria Script Demo";
}

.welcome-grid li:nth-child(1), .welcome-grid li:nth-child(2), .welcome-grid li:nth-child(3) {
	padding-top: 4em;
}

.welcome-grid li:nth-child(1) { background: #F7A77C; }
.welcome-grid li:nth-child(2) { background: #0B486B; }
.welcome-grid li:nth-child(3) { background: #F05350; }
.welcome-grid li:nth-child(4) { background: #7CEBD4; }
.welcome-grid li:nth-child(5) { background: #FCD553; }
.welcome-grid li:nth-child(6) { background: #5787A5; }
.welcome-grid li:nth-child(7) { background: #A99A8D; }
.welcome-grid li:nth-child(8) { background: #E83A49; }
